<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!--jquery-->
    <script type="text/javascript" src="js/jquery/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="js/jquery/jquery-ui.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!--thisPage-->
    <link rel="stylesheet" href="css/main/main.css">
    <script type="text/javascript" src="js/main/main.js"></script>
    <script type="text/javascript" src="js/fragments/header.js"></script>
    <!--All CSS/JS-->
    <link rel="stylesheet" href="css/fragments/header.css">
    <link rel="stylesheet" href="css/fragments/footer.css">
    <!--fullpage-->
    <link rel="stylesheet" href="css/fullpage/fullpage.css">
    <script type="text/javascript" src="js/fullpage/fullpage.js"></script>

</head>
<body style="background-color: #551cee">
<header th:include="fragments/header ::header" id="header-wrap"></header>
<div style="text-align: center; font-size: 100px; font-weight: bold; margin-top: 400px;">TREEPET 정보 화면</div>
</body>
</html>