
/* contact us div크기 */
.contact {
    margin-top: 50px;
    margin-left: 150px;
    margin-bottom: 50px;
/*  margin: 100px 0px 100px 150px; 이런식으로 margin: 위 오른쪽 아래 왼쪽  시계방향으로 적용시킬수 있다 */
}

/* contact us 제목 */
/* contact us 핸드폰 제목 */

.contact-title {
    margin-bottom: 40px;
    font-size: 50px;
}

/* contact us 이름 */
.contact-name {
    margin-bottom: 5px;
    font-size: 15px;
}

/* contact us 핸드폰 */
.contact-phone {
    margin-bottom: 5px;
    font-size: 15px;
}

/* contact us 이메일 */
.contact-email {
    margin-bottom: 5px;
    font-size: 15px;
}

/* 제작 출처 */
.contact-productionSource {
    margin-bottom: 30px;
}