
* {
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

#header-wrap {
    background-color: rgba(0,0,0,0);
    position: fixed;
    width: 100%;
    height: 5.75rem;
    color: white;
    min-width: 1080px;
    top: 0;
    left: 0;
    margin: 0 auto;
    z-index: 3;
    padding: 2.4rem 3rem 0rem;
    box-sizing: border-box;
}

.header-container {
    height: 3.25rem;
    width: 100%;
    position: relative;
}

.container-logo-img {
    width: 13.75rem;
    height: 2.8125rem;
}

.container-ul {
    float: right;
    margin: 0rem;
    padding: 0rem;
    padding-inline-start: 0rem;
    list-style-type: none;
}

.container-li {
    float: left;
    position: relative;
    display: block;
    width: calc(12.5vw - 11rem);
    max-width: calc(15rem - 13rem);
    min-width: 2.1875rem;
    margin-right: 1rem;
    box-sizing: border-box;
}

.container-li a {
    display: block;
    font-size: 1.25em;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.link-icon {
    position: relative;
    display: inline-block;
    width: auto;
    font-size: 0.875em;
    font-weight: 500;
    color: #333;
    margin-right: 10px;
    padding-top: 35px;
    background-size: contain;
}

.link-icon.instagram {
    background-image: url(../../images/logo/sns/instagram/instagram-logo-color.png);
    background-repeat: no-repeat;
}

.link-icon.facebook {
    background-image: url(../../images/logo/sns/facebook/facebook-logo-color.png);
    background-repeat: no-repeat;
}

.link-icon.band {
    background-image: url(../../images/logo/sns/band/band-logo-color.png);
    background-repeat: no-repeat;
}

/* 반응형 모바일 세로 기준 */
@media only screen and (max-width: 575px) {

}