/* div 공통 틀 */
.companyInfo {
    margin-top: 250px;
    position: absolute;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
}

/* 큰제목 */
.text {
    font-size: 70px;
    font-weight: 700;
    color: black;
    margin-left: 10em;
}

/* 설명란 p태그 */
.detailText {
    margin-left: 600px;
    margin-top: 30px;
}

/* 아래에서 위로 올라오는 애니메이션 효과 */
.fadeIn {
    position: relative;
    animation: fadeInUp 1.5s;
}

/* 아래에서 위로 올라오는 애니메이션 효과 */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}

/* 이미지 */
.companyInfoImg {
    background: red;
    width: 500px;
    height: 600px;

}



