<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="css/fragments/footer.css">
</head>
<body>
<div th:fragment="footer">
    <div class="contact">
        <p class="contact-title">Contact Us</p>
        <p class="contact-name">대표 : 황규상</p>
        <p class="contact-phone">핸드폰 : 010-6235-7736</p>
        <p class="contact-email">이메일 : carvekis@gmail.com</p>
        <p class="contact-address">주소 : 서울시 서초구 연남17길 14 대원빌딩4층</p>
        <p class="contact-productionSource">Copyright © 2022 TreePet. All rights reserved.</p>
    </div>

    <div>
    </div>
</div>
</body>
</html>