<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<div th:fragment="header">
    <div id="headerContainer">
        <a href="#a0" class="companyLogo"></a>
        <div id="categoryWrap" class="linkBox">
            <ul class="menuUl" style="user-select: auto;">
                <li><a href="#a1" class="a"> TREEPET </a>
                     <ul class="detailMenuUl">
                        <li onclick="companyInfo()"> 회사소개 </li>
                    </ul>
                </li>

                <li>
                    <a href="#a2" class="a"> 매칭서비스 </a>
                </li>

                <li>
                    <a href="#a3" class="a"> 입양/검증 </a>
                </li>

                <li>
                    <a href="#a4" class="a"> 등록/족보 </a>
                </li>

                <li>
                    <a href="#a5" class="a"> 지식정보 </a>
                </li>

                <li>
                    <a href="#a6" class="a"> 스토어 </a>
                </li>

                <li>
                    <a href="#a7" class="a"> ContactUs </a>
                </li>
            </ul>
        </div>
    </div>
    <div id="detailMenuWrap"> </div>
</div>
</body>
</html>
