<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<header th:fragment="header">
    <nav class="header-container">
        <a href="/">
            <img class="container-logo-img" src="images/logo/treePet/mainLogo-mix-origin-white.png" alt="TREEPET"/>
        </a>
        <ul class="container-ul">
            <li class="container-li">
                <a id="instarBtn" class="link-icon instagram hvr-buzz" href="https://www.instagram.com/treepet_official/" target="_blank" title="Instagram"></a>
            </li>

            <li class="container-li">
                <a id="facebookBtn" class="link-icon facebook hvr-buzz" href="https://www.facebook.com/profile.php?id=100036884793656" target="_blank" title="Facebook"></a>
            </li>

            <li class="container-li">
                <a id="bandBtn" class="link-icon band hvr-buzz" href="https://band.us/band/87251763" target="_blank" title="Band"></a>
            </li>
        </ul>
    </nav>
</header>
</body>
</html>
