
#popup {
    float: right;
    position: absolute;
    top: 570px;
    right: 145px;
}

.section8-popup-box {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* TODO : width, height를 em, rem으로 바꾸면 오른쪽이 좀 잘림,,,일단 수치대로 바꾸긴했는데, 그림 다 나오게 하려면 40~으로 하면 됨 */
    /*width: 39.0625rem;*/
    width: 41.0625rem;
    height: 50.875rem;
    background-image: url("../../images/main/popup/popup-06.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0.625rem;
}

.section8-popup-box img {
    margin-left: 30%;
}

.section8-popup-box-text1 {
    margin-top: 22%;
    color: sienna;
    text-align: center;
    font-size: 2.5em;
    position: relative;
}

.section8-popup-box-text2 {
    color: sienna;
    text-align: center;
    font-size: 1.375em;
    margin-top: 2.1875em;
    position: relative;
}

/* radio 옵션 전체 div */
.section8-popup-box-option {
    text-align: center;
    margin-top: 2.1875em;
    color: maroon;
    position: relative;
}

/* 각 라디오 버튼 마다 div */
.section8-popup-box-option-div {
    display: inline;
    font-size: 1.1875em;
}

.section8-popup-box-option-text {
    display: inline-block;
    font-size: 1.1875em;
}

.option {
    display: none;
}

.checkCategories {
    margin-left: 1rem;
}

.checkCategories > i {
    margin-left: 0.2rem;
}

/* 교배 radio */
.section8-popup-box-option1 {
    opacity: 0;
}

/* 입양 radio */
.section8-popup-box-option2 {
    margin-left: -0.3125rem;
    opacity: 0;
}

.section8-popup-box-text3 {
    color: darkgray;
    text-align: center;
    font-size: 1em;
    margin-top: 2.1875em;
    position: relative;
}

.section8-popup-modal-btn {
    position: relative;
    margin-top: -0.9375em;
}

.section8-popup-modal-btn-click {
    position: relative;
    left: 52%;
    top: -42px;
    font-size: 23px;
    width: 25%;
    height: 42px;
    background-color: mistyrose;
    color: maroon;
    border-radius: 40px;
    border: solid 1px mistyrose;
}

.section8-popup-modal-btn-text {
    position: absolute;
    width: 70%;
}

.section8-popup-modal-btn-text-email {
    width: 70%;
    margin-top: 2.7%;
    margin-left: 25.5%;
    height: 42px;
    font-size: 20px;
    background: cornsilk;
    border-radius: 40px;
    text-align: center;
    border: solid 1px cornsilk;
    color: black;
}

input::placeholder {
    color: sienna;
}

.speechBubble {
    color: black;
    font-size: 1.125em;
}

.speechBubble1 {
    position: absolute;
    background-image: url("../../images/main/popup/speechBubble/speechBubble-02.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 21.875em;
    height: 6.25em;
    margin: 9.375em 0em 0em -1.125em;
    text-align: center;
    transform: translate(-50%,-50%);
    left: 50%;
    display: none;
    color: red;
}

.speechBubble2 {
    position: absolute;
    background-image: url("../../images/main/popup/speechBubble/speechBubble-01.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 21.875rem;
    height: 6.25rem;
    margin: 9.375em 0em 0em -1.125em;
    text-align: center;
    transform: translate(-50%,-50%);
    left: 50%;
    display: none;
    color: blue;
}

.speechBubble1-1 {
    position: absolute;
    display: none;
    margin-top: 1.875em;
    margin-left: -6.5rem;
}

.speechBubble1-2 {
    position: absolute;
    display: none;
    margin-top: 0.9375em;
    margin-right: 0.75em;
}

.speechBubble1-3 {
    margin-top: 2.6875em;
    margin-left: -1.25em;
    margin-right: -0.625em;
    display: none;
}

.speechBubble2-1 {
    display: none;
    margin-top: 1.875rem;
    margin-right: 0.625em;
}

#modal1:nth-child(1) button {
    position: relative;
    left: 90%;
    top: -2.625rem;
    font-size: 1.4375em;
    width: 25%;
    height: 2.625rem;
    background-color: mistyrose;
    color: maroon;
    border-radius: 2.5em;
    border: solid 1px mistyrose;
}

#modal1:nth-child(1) > div:nth-child(1) > div:nth-child(5) input {
    width: 70%;
    margin-top: 2.7%;
    margin-left: 28.5%;
    height: 2.625rem;
    font-size: 1.25em;
    background: cornsilk;
    border-radius: 2.5rem;
    text-align: center;
    border: solid 1px cornsilk;
    color: black;
}

/* 반응형 모바일 세로 기준 */
@media only screen and (max-width: 575px) {
    .section8-popup-box {
        top: 1rem;
        width: 390px;
        height: 500px;
        background-image: url(../../images/main/popup/popup-06-mobile.png);
    }

    .section8-popup-box-text1 {
        color: sienna;
        text-align: center;
        font-size: 1.6em;
        position: relative;
    }

    .section8-popup-box-text2 {
        color: sienna;
        text-align: center;
        font-size: 1em;
        margin-top: -0.8125em;
        position: relative;
    }

    .section8-popup-box-text3 {
        color: darkgray;
        text-align: center;
        font-size: 0.9em;
        margin-top: 1.1875em;
        position: relative;
    }

    .section8-popup-box-option {
        text-align: center;
        margin-top: 1.1875em;
        color: maroon;
        position: relative;
        margin-left: -2rem;
    }

    ol, ul, dl {
        margin-top: -3rem;
        margin-bottom: -1.5rem;
    }

    .section8-popup-box-option-text {
        display: inline-block;
        font-size: 1em;
    }

    .section8-popup-box-option-div {
        display: inline;
        font-size: 1em;
    }

    #modal1:nth-child(1) > div:nth-child(1) > div:nth-child(5) input {
        width: 100%;
        margin-top: 2.7%;
        margin-left: 15.5%;
        height: 2.625rem;
        font-size: 1em;
        background: cornsilk;
        border-radius: 2.5rem;
        text-align: center;
        border: solid 1px cornsilk;
        color: black;
    }

    #modal1:nth-child(1) button {
        position: relative;
        left: 103%;
        top: -2.625rem;
        font-size: 0.87em;
        width: 25%;
        height: 2.625rem;
        background-color: mistyrose;
        color: maroon;
        border-radius: 2.5em;
        border: solid 1px mistyrose;
    }

    .speechBubble {
        color: black;
        font-size: 0.82rem;
        margin-top: 3rem;
    }

    .speechBubble1 {
        position: absolute;
        background-image: url(../../images/main/popup/speechBubble/speechBubble-02.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 15.175rem;
        height: 4.3rem;
        margin: 7em 0em 0em -1.125em;
        text-align: center;
        transform: translate(-50%,-50%);
        left: 50%;
        display: none;
        color: red;
    }

    .speechBubble1-1 {
        position: absolute;
        display: none;
        margin-top: 1.5em;
        margin-left: -4.65rem;
    }

    .speechBubble1-2 {
        position: absolute;
        display: none;
        margin-top: 0.8375rem;
        margin-left: 0.35rem;
    }

    .speechBubble1-3 {
        margin-top: 1.7875rem;
        margin-left: -0.55rem;
        display: none;
    }

    .speechBubble2 {
        position: absolute;
        background-image: url(../../images/main/popup/speechBubble/speechBubble-01.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 15.175rem;
        height: 4.3rem;
        margin: 7.375em 0em 0em -1.125em;
        text-align: center;
        transform: translate(-50%,-50%);
        left: 50%;
        display: none;
        color: blue;
    }

    .speechBubble2-1 {
        display: none;
        margin-top: 1.3rem;
        margin-right: 0.625em;
    }
}