<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="minimum-scale=1.0, width=device-width, maximum-scale=1, user-scalable=no" name="viewport"/>

    <style type="text/css">
        @-ms-viewport {
            width: device-width
        }

        @-o-viewport {
            width: device-width
        }

        @viewport {
            width: device-width
        }
    </style>

    <title>TREEPET</title>

    <!--jquery-->
    <script type="text/javascript" src="js/jquery/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="js/jquery/jquery-ui.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!--thisPage-->
    <link rel="stylesheet" href="css/main/main.css">
    <link rel="stylesheet" href="url(https://fonts.googleapis.com/earlyaccess/hanna.css)">
    <script type="text/javascript" src="js/main/main.js"></script>
    <script type="text/javascript" src="js/fragments/header.js"></script>
    <!--All CSS/JS-->
    <link rel="stylesheet" href="css/fragments/header.css">
    <link rel="stylesheet" href="css/fragments/footer.css">
    <!--EmailJS-->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js"></script>
    <!--fullpage-->
    <link rel="stylesheet" href="css/fullpage/fullpage.css">
    <script type="text/javascript" src="js/fullpage/fullpage.js"></script>
    <!-- emailJs  -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@2.4.1/dist/email.min.js"></script>

</head>
<body>
<header th:include="fragments/header ::header" id="header-wrap"></header>

<div id="fullpage">
    <div name="section1" class="section mainBackground">
        <!--<p class="mainText1"> 반려동물의 삶이 시작되는 곳 </p> <br>
        <p class="mainText2"> 여려분의 가정입니다 </p>-->
    </div>

    <div name="section2" class="section">
        <p class="textCenter"> 회사소개 </p>
    </div>

    <div name="section3" class="section">
        <div class="section-services">
            <div class="services-information">
                <img src="images/main/serviceIcon1.png" alt="Phone Icon 01" class="information-icon">
                <h3 class="information-title">상대방과의 매칭,<br>지역부터 조건까지<br>쉽고 빠르게</h3>
                <span class="information-content">지도에서 실시간으로 위치를 확인하고<br>리스트내에 상대방들과 만나보세요.</span>
            </div>
            <img src="images/main/moblieLbs.png" alt="Phone 01" class="services-img-right">
        </div>
    </div>

    <div name="section4" class="section">
        <div class="section-services">
            <img src="images/main/mobileAdoptListVerification.png" alt="Phone 05" class="services-img-left">
            <div class="services-information">
                <img src="images/main/serviceIcon2.png" alt="Phone Icon 05" class="information-icon">
                <h3 class="information-title">가족을 찾기위한 올바른 입양<br>가족이 되기위한 필수검증</h3>
                <span class="information-content">미래를 위한 연금 자산도 오랜 기간 꾸준하게<br>AI가 알아서 관리해 드려요.</span>
            </div>
        </div>
    </div>

    <div name="section5" class="section">
        <div class="section-services">
            <div class="services-information">
                <img src="images/main/serviceIcon3.png" alt="Phone Icon 01" class="information-icon">
                <h3 class="information-title">반려동물 등록과 동시에,<br>우리 아이의 족보 생성</h3>
                <span class="information-content">AI 간편투자 엔진 아이작이 실시간<br>시장 분석부터 자산배분, 리밸런싱까지.<br>당신의 투자를 책임져요.</span>
            </div>
            <img src="images/main/moblieFamilyTree.png" alt="Phone 01" class="services-img-right">
        </div>
    </div>

    <div name="section6" class="section">
        <div class="section-services">
            <img src="images/main/moblieInformation.png" alt="Phone 05" class="services-img-left">
            <div class="services-information">
                <img src="images/main/serviceIcon4.png" alt="Phone Icon 05" class="information-icon">
                <h3 class="information-title">교배는 안전하게,<br>양육은 정확하게,<br>놀이는 신나게</h3>
                <span class="information-content">미래를 위한 연금 자산도 오랜 기간 꾸준하게<br>AI가 알아서 관리해 드려요.</span>
            </div>
        </div>
    </div>

    <div name="section7" class="section">
        <div class="section-services">
            <div class="services-information">
                <img src="images/main/serviceIcon5.png" alt="Phone Icon 01" class="information-icon">
                <h3 class="information-title">보호자도 만족하고<br>우리 아이도 만족하는<br>나만의  비서</h3>
                <span class="information-content">AI 간편투자 엔진 아이작이 실시간<br>시장 분석부터 자산배분, 리밸런싱까지.<br>당신의 투자를 책임져요.</span>
            </div>
            <img src="images/main/moblieStore.png" alt="Phone 01" class="services-img-right">
        </div>
    </div>

    <div name="section8" class="section section8Img">
        <div class="section8">
            <div class="section8-title">
                <p class="section8-title1">TREEPET과 함께하는 교배와 입양</p>
                <p class="section8-title2">지금 시작하세요</p>
                <input type="checkbox" id="popup">
                <label for="popup" class="section8-downloadButton">Download</label>
                <div>
                    <!--팝업 박스-->
                    <div class="section8-popup-box">
                        <p class="section8-popup-box-text1">지금 사전 신청하세요.</p>
                        <p class="section8-popup-box-text2">서비스 출시를 가장 먼저 알려드릴 메일 주소를 알려주세요.</p>

                        <div class="section8-popup-modal-btn">
                            <div>
                                <div class="section8-popup-modal-btn-text">
                                    <input class="section8-popup-modal-btn-text-email" id="email" type="email" placeholder="name@example.com"/>
                                </div>
                                <button onclick="sendEmail()" class="section8-popup-modal-btn-click">신청하기</button>
                            </div>
                        </div>
                    </div>
                    <label for="popup"></label>
                </div>
            </div>

            <!--contact us-->
            <div class="section8-footer">
                <div class="section8-footer-logo">
                    <img class="section8-footer-logo-img" src="images/header/sampleLogoW.png">
                </div>

                <div class="section8-footer-contact">
                    <p class="section8-footer-contact-title">Contact Us</p>
                    <p class="section8-footer-contact-phone">연락처 : 010-6235-7736</p>
                    <p class="section8-footer-contact-email">이메일 : carvekiss@gmail.com</p>
                </div>

                <div class="section8-footer-companyInfo">
                    <p class="section8-footer-companyInfo-title">TREEPET</p>
                    <p class="section8-footer-representative">대표 : 황규상</p>
                    <p class="section8-footer-address">주소 : 서울특별시 서초구 연남17길 14 대원빌딩4층 (06775)</p>
                </div>

                <div class="section8-footer-productionSource">
                    <p>Copyright © 2022 TREEPET. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>