<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="minimum-scale=1.0, width=device-width, maximum-scale=1, user-scalable=no" name="viewport"/>

    <style type="text/css">
        @-ms-viewport {
            width: device-width
        }

        @-o-viewport {
            width: device-width
        }

        @viewport {
            width: device-width
        }
    </style>

    <title>TREEPET</title>

    <!--hover.css-->
    <link rel="stylesheet" href="css/hover/hover.css" media="all">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!--jquery-->
    <script type="text/javascript" src="js/jquery/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="js/jquery/jquery-ui.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!--thisPage-->
    <link rel="stylesheet" href="css/main/main.css">
    <link rel="stylesheet" href="url(https://fonts.googleapis.com/earlyaccess/hanna.css)">
    <script type="text/javascript" src="js/main/main.js"></script>
    <script type="text/javascript" src="js/fragments/header.js"></script>
    <!--All CSS/JS-->
    <link rel="stylesheet" href="css/fragments/header.css">
    <link rel="stylesheet" href="css/fragments/footer.css">
    <!--EmailJS-->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js"></script>
    <!--fullpage-->
    <link rel="stylesheet" href="css/fullpage/fullpage.css">
    <script type="text/javascript" src="js/fullpage/fullpage.js"></script>
    <script type="text/javascript" src="js/fullpage/scrolloverflow.js"></script>
    <!-- emailJs  -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@2.4.1/dist/email.min.js"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
</head>
<body>
<header th:include="fragments/header ::header" id="header-wrap"></header>

<div id="fullPage">
    <div name="section1" class="section mainBackground section1-Background">
        <div class="luck">
            <p class="result1"></p> <br>
            <p class="result2"></p> <br>
            <p class="result3"></p>
        </div>
    </div>

    <div name="section2" class="section section2-Background">
        <div class="section2">
            <div class="section2__slogan">
                <p class="section2__slogan__title fadeIn">더 나은 반려문화를 만들기 위한 선택</p>
                <p class="section2__slogan__little-title fadeIn">새로운 방안을 찾는 것이 트리펫이 해야할 일입니다.</p>
                <p class="section2__slogan__detail-text fadeIn"> 우리의 주위에는 마음의 상처를 가진 아이들이 많습니다.<br>병들거나, 귀찮아서 등의 이유로 말이죠.<br>이 아이들을 보듬는 것도 강아지공장과 펫샵을 대체할 선택이 될 수도 있습니다. </p>
                <p class="section2__slogan__detail-text fadeIn">하지만 사람들의 수요가 줄어들지 않는 한 강아지공장과 펫샵은 계속해서 이어질 것입니다.<br>이에 저희는 가정에서 직접 교배를 하고, 이로 인해 태어난 아이들을 입양시키는 것을 해결책으로 제시합니다.</p>
            </div>

            <div class="section2__faq">
                <div>
                    <div class="section2__faq__q accordion1" >&nbsp;&nbsp;&nbsp;&nbsp;Q1. 가정 교배에 초점을 두는 이유?</div>
                    <div class="section2__faq__q__answer" id="answer1"><p>반려동물 입양 방법에는 펫샵, 유기동물, 브리더, 가정 등 여러 입양방법이 있습니다. 하지만 각 입양방법마다 단점들이 존재합니다. 펫샵은 강아지공장을 통해 반려동물을 유통한다는 윤리적인 문제점이, 브리더는 윤리적이지만 비싸고, 공급측면에서 수요를 따라갈 수 없습니다. 이와 더불어 유기동물은 이미 아픔을 겪었기 때문에 아이들에게도, 새로운 보호자에게도 부담될 수 있습니다. 이에 제일 적합한 방법으로 가정을 통한 입양을 제안할 수 있지만 플랫폼 없이는 많은 제약이 따릅니다. 그래서 트리펫은 제안하고자 합니다. 가정교배의 불편함을 해소하고, 입양을 하기 위해서는 보호자로써 자격검증을 필수로 받아야하는 새로운 반려문화가 형성될 수 있도록 변화시키겠습니다.</p></div>
                </div>
                <div>
                    <div class="section2__faq__q accordion2">&nbsp;&nbsp;&nbsp;&nbsp;Q2. 서비스를 시작하게 된 동기?</div>
                    <div class="section2__faq__q__answer" id="answer2"><p>저희는 강아지공장과 펫샵의 유착을 통한 반려문화 교배&입양시장에 회의감을 느끼고 새로운 서비스를 만들 수 없을까 많은 고민을 했습니다. 이와 관련하여 반려문화시장을 조사하던 중 많은 보호자분들 사이에서 가정교배가 활성화되어 있다는 것을 발견했습니다. 하지만 이를 이용할 수 있는 수단이 부족하다는 판단에 이르게 되었습니다. 따라서 가정교배와 입양만으로도 충분히 새로운 반려문화를 만들어 나갈 수 있도록 앱 서비스를 제공하고자 하며, ‘TREE PET’ 이라는 어플명으로 출시하게 되었습니다.</p></div>
                </div>
            </div>
        </div>
    </div>

    <div name="section3" class="section" id="section3">
        <div class="section-services">
            <div class="services-information">
                <img src="images/main/servicePages/icons/service-01-icon-01.png" alt="Phone Icon 01" class="information-icon">
                <h3 class="information-title">상대방과의 매칭,<br>지역부터 조건까지<br>쉽고 빠르게</h3>
                <span class="information-content"><strong>필터를 통해 조건에 맞는 매칭상대</strong>와<br><strong>간편하고 안전하게 전자계약서</strong>로 인연을 시작하세요.</span>
            </div>
            <img src="images/main/servicePages/moblieLbs.png" alt="Phone 01" class="services-img-right">
        </div>
    </div>

    <div name="section4" class="section">
        <div class="section-services">
            <img src="images/main/servicePages/mobileAdoptListVerification.png" alt="Phone 05" class="services-img-left">
            <div class="services-information">
                <img src="images/main/servicePages/icons/service-02-icon-01.png" alt="Phone Icon 05" class="information-icon">
                <h3 class="information-title">가족을 찾기위한 올바른 입양<br>가족이 되기위한 필수검증</h3>
                <span class="information-content"><strong>가정에서 태어난 반려동물로 가족을 맞이하는 새로운 입양방법</strong><br>가족이 되기 위해 <strong>예비보호자의 검증은 선택이 아닌 필수</strong>입니다.</span>
            </div>
        </div>
    </div>

    <div name="section5" class="section">
        <div class="section-services">
            <div class="services-information">
                <img src="images/main/servicePages/icons/service-03-icon-01.png" alt="Phone Icon 01" class="information-icon">
                <h3 class="information-title fadeInDown">반려동물 등록과 동시에,<br>우리 아이의 족보 생성</h3>
                <span class="information-content"><strong>반려동물 등록과 동시에 족보까지 생성!</strong><br>우리 아이 가족의 출생지,질병이력 등<br><strong>다양한 정보들을 확인</strong>해보세요.</span>
            </div>
            <img src="images/main/servicePages/moblieFamilyTree.png" alt="Phone 01" class="services-img-right">
        </div>
    </div>

    <div name="section6" class="section">
        <div class="section-services">
            <img src="images/main/servicePages/moblieInformation.png" alt="Phone 05" class="services-img-left">
            <div class="services-information">
                <img src="images/main/servicePages/icons/service-04-icon-01.png" alt="Phone Icon 05" class="information-icon">
                <h3 class="information-title">교배는 안전하게,<br>양육은 정확하게,<br>놀이는 신나게</h3>
                <span class="information-content"><strong>이렇게만 하면 나도 1등 집사!</strong><br>다양한 컨텐츠를 <strong>생애 주기</strong>에 맞게 알려드려요.</span>
            </div>
        </div>
    </div>

    <div name="section7" class="section" id="section7">
        <div class="section-services">
            <div class="services-information">
                <img src="images/main/servicePages/icons/service-05-icon-01.png" alt="Phone Icon 01" class="information-icon">
                <h3 class="information-title">보호자도 만족하고<br>우리 아이도 만족하는<br>나만의  비서</h3>
                <span class="information-content"><strong>AI 추천 엔진 나만의 비서</strong>가<br>말 못 하는 반려동물의 건강과 행복을 위해<br><strong>생애주기에 꼭 필요한 제품을 추천</strong>해드립니다.</span>
            </div>
            <img src="images/main/servicePages/moblieStore.png" alt="Phone 01" class="services-img-right">
        </div>
    </div>

    <div name="section8" class="section section8Img section8-Background" id="section8">
        <div class="section8">
            <div class="section8-title">
                <p class="section8-title1">TREEPET과 함께하는 교배와 입양</p>

                <div class="section8__title__logo">
                    <img src="images/logo/treePet/mainLogo-image-origin.png" alt="TreePet Logo" class="section8__img">
                </div>

                <div>
                    <img  src="images/downloadBadge/app-store-badge-white-0333.png"
                          class="section8-downloadButton-ios open-ios"
                          style="display: block"
                          onmouseover="this.src='images/downloadBadge/app-store-badge-black-0333.png'"
                          onmouseout="this.src='images/downloadBadge/app-store-badge-white-0333.png'">
                </div>

                <div>
                    <img  src="images/downloadBadge/google-play-badge-white-0111.png"
                          class="section8-downloadButton-android open-android"
                          style="display: block"
                          onmouseover="this.src='images/downloadBadge/google-play-badge-black-0111.png'"
                          onmouseout="this.src='images/downloadBadge/google-play-badge-white-0111.png'">
                </div>

<!--                <div class="section8-downloadButton-joint">-->
<!--                    <img src="images/downloadBadge/app-store-badge-black-0333.png" class="section8-downloadButton-ios open-ios" style="display: block">-->
<!--                </div>-->

<!--                <div class="section8-downloadButton-joint">-->
<!--                    <img src="images/downloadBadge/google-play-badge-white-0111.png" class="section8-downloadButton-android open-android" style="display: block">-->
<!--                </div>-->


                <div class="section8__modal-popup modal hidden">
                    <div class="section8__modal-popup__overlay"></div>
                    <div class="section8__modal-popup__content">
                        <div th:include="popup/popup"></div>
                    </div>
                </div>

            </div>

            <!--contact us-->
            <div class="section8-footer" id="section8-footer-a">
                <div class="section8-footer-logo">
                    <img class="section8-footer-logo-img" src="images/logo/treePet/mainLogo-origin.png">
                </div>

                <div class="section8-footer-companyInfo">
                    <p class="section8-footer-companyInfo-title">TREEPET</p>
                    <p class="section8-footer-representative">대표 : 황규상</p>
                    <p class="section8-footer-address">주소 : 서울특별시 서초구 연남17길 14 대원빌딩4층 (06775)</p>
                </div>

                <div class="section8-footer-contact">
                    <p class="section8-footer-contact-title">Contact Us</p>
                    <p class="section8-footer-contact-phone">연락처 : 010-6235-7736</p>
                    <p class="section8-footer-contact-email">이메일 : carvekiss@gmail.com</p>
                </div>

                <div class="section8-footer-productionSource">
                    <p>Copyright © 2022 TREEPET. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>