.section:nth-child(1) {
    background-color: blue;
}

.section:nth-child(2) {
    background-color: red;
}

.section:nth-child(5) {
    background-color: magenta;
}

.section:nth-child(6) {
    background-color: teal;
}

.section:nth-child(7) {
    background-color: coral;
}

.section8 {
    color: white;
    background-image: url(/images/main/laundrygo.jpeg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

.textCenter {
    text-align: center;
    font-size: 100px;
    font-weight: bold;
}

/* section8 part */
.section8-title {
    float: right;
    height: 550px;
    margin: 380px 145px 0px 0px;
}

.section8-title1 {
    font-size: 70px;
}

.section8-title2 {
    float: right;
    font-size: 70px;

}

/* section8 다운로드 버튼 & 팝업창 */
.section8-downloadButton {
    float: right;
    position: absolute;
    top: 570px;
    right: 145px;
}

#popup {
    float: right;
    position: absolute;
    top: 570px;
    right: 145px;
}

input[id*="popup"] {
    display: none;
}

input[id*="popup"] + label {
    display: inline-block;
    background: #5B67CA;
    border: 3px solid white;
    border-radius: 35px;
    background-color: transparent;
    padding: 10px 25px 10px 25px;
    color: white;
    font-size: 40px;
}

input[id*="popup"] + label + div {
    position: fixed;
    /*top: 600;*/
    /*left: 2250;*/
    width: 100%;
    height: 100%;
    z-index: 100;
}

input[id*="popup"] + label + div > div {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    height: 450px;
    background: white;
    z-index: 2;
}

input[id*="popup"] + label + div > label {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.9);
    z-index: 1;
}

input[id*="popup"] + label + div {
    opacity:0;
    visibility: hidden;
    transition: all 0.5s;
}

input[id*="popup"]:checked + label + div {
    opacity: 1;
    visibility: visible;
}

/* 모달 팝업창 하단 사전예약 버튼 */
.section8-popup-modal-btn {
    background: #551cee;
    width: 600px;
    height: 65px;
    /* position: absolute를 줘야 겉div안에서 움직일수있다 */
    position: absolute;
    left: 0;
    bottom: 0;

}

/* section8 footer 전체 div */
.section8-footer {
    padding: 38px 40px 45px 40px;
    display: flex;
    justify-content: space-between;
    background: rgba(0,0,0,0.3);
    position: absolute;
    top: 83%;
    width: 100%;
}

.section8-footer-logo {
    display: flex;
    align-items: center;
}

/* section8 footer Logo div */
.section8-footer-logo-img {
    width: 100px;
}

/* section8 footer contact 전체 div  */
.section8-footer-contact {
    margin-right: 73px;

}

/* section8 연락할 곳 contact us p */
.section8-footer-contact-title {
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: bold;
}

/* section8 연락할 곳 핸드폰 p */
.section8-footer-contact-phone {
    font-size: 15px;
    margin-bottom: 5px;
}

/* section8 연락할 곳 이메일 p */
.section8-footer-contact-email {
    font-size: 15px;
}

/* section8 회사소개 전체 div */
.section8-footer-companyInfo {

}

/* section8 회사소개 제목 */
.section8-footer-companyInfo-title {
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: bold;
}

/* section8 회사소개 대표자 p */
.section8-footer-representative {
    font-size: 15px;
    margin-bottom: 5px;
}

/* section8 회사소개 주소 p */
.section8-footer-address {
    font-size: 15px;
}

/* section8 제작 출처 p */
.section8-footer-productionSource {
    font-size: 15px;
    margin: 60px 80px 0px 460px;
}



/* test */
.css-t70j0z {
    margin-top: 88px;
    width: 978px;
    padding-left: 470px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-flow: row;
}
.css-1kyudii {
    display: flex;
    align-items: flex-start;
    -webkit-box-pack: center;
    justify-content: center;
    flex-flow: column;
}
.css-dqef8h {
    width: 100px;
}
.css-sm6bqj {
    margin-top: 40px;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 56px;
    color: rgb(51, 51, 51);
}
.css-1n8v76p {
    margin-top: 18px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgb(102, 102, 102);
    line-height: 1.8;
}
.css-61x4mc {
    margin-left: 172px;
    width: 342px;
}