@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

body {
    font-family: 'Noto Sans KR', -apple-system,BlinkMacSystemFont,"Malgun Gothic","맑은 고딕",helvetica,"Apple SD Gothic Neo",sans-serif;
    color: #333;
    letter-spacing: -0.04em;
}

.container-01__main-text {
    text-align: center;
    margin-top: -11.25rem;
}

p.main-text-01, p.main-text-02 {
    display: inline-block;
    font-size: 5rem;
    height: 6.25rem;
    line-height: 6.25rem;
    border-right: 1px solid #fff;
    box-sizing: border-box;
    padding: 0;
    margin: 0.3125rem;
    font-weight: bold;
    color: ghostwhite;
    text-shadow: #fc0 0.0625rem 0 0.125rem;
}

p.cursor {
    animation: cursor 0.4s none;
}

@keyframes cursor{
    0%{border-right: 1px solid #fff}
    50%{border-right: 1px solid #000}
    100%{border-right: 1px solid #fff}
}

/* 회사소개 섹션2 */
.section2 {
    position: absolute;
    z-index: 2;
    width: 70%;
    left: 33%;
    transform: translateX(-50%);
    top: 8.8em;
}

/* 위에서 애라로 내려오는 애니메이션 css */
@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}

.fadeIn {
    position: relative;
    animation: fadeInUp 1.5s;
}

.section2__slogan {
    margin-left: 10em;
    color: white;
}

/* 큰제목 */
.section2__slogan__title {
    font-size: 4.375em;
    font-weight: bold;
    color: ghostwhite;
    text-shadow: #fc0 1px 0 2px;
}

/* 소제목 */
.section2__slogan__little-title {
    font-size: 2.1875em;
    font-weight: 350;
    color: white;
    margin-bottom: 1.875rem;
}

/* 설명란 p태그 */
.section2__slogan__detail-text {
    font-size: 1.5em;
}

/* faq div */
.section2__faq {
    margin-top: 3.75rem;
    width: 50%;
    margin-left: 10em;
}

/* faq */
.section2__faq__title {
    font-size: 2.1875em;
}

/* faq q1 제목 */
.section2__faq__q {
    margin-top: 1.875rem;
    font-size: 1.125em;
    display: block;
    padding: 0.3125rem;
    border: 1px solid beige;
    border-bottom: 0;
    color: cadetblue;
    font-weight: 700;
    background: beige;
    cursor: pointer;
    border-radius: 1.25rem;
    opacity: 0.9;
}

/* faq q1 대답 */
.section2__faq__q__answer {
    padding: 0.625em 1.875em 0.625em 1.875em;
    background: ghostwhite;
    display: none;
    border-radius: 1.25em;
    opacity: 0.88;
    font-size: 1em;
}

.button-cover {
    height: 100px;
    margin: 20px;
    background-color: #fff;
    box-shadow: 0 10px 20px -8px #c5d6d6;
    border-radius: 4px;
}

.button-cover:before {
    counter-increment: button-counter;
    content: counter(button-counter);
    position: absolute;
    right: 0;
    bottom: 0;
    color: #d7e3e3;
    font-size: 0.75em;
    line-height: 1;
    padding: 5px;
}

.knobs, .layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.button {
    position: relative;
    top: 50%;
    width: 74px;
    height: 36px;
    margin: -20px auto 0 auto;
    overflow: hidden;
}

.button.r, .button.r .layer {
    border-radius: 100px;
}

.button.b2 {
    border-radius: 2px;
}

.checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.knobs {
    z-index: 2;
}

.layer {
    width: 100%;
    background-color: #ebf7fc;
    transition: 0.3s ease all;
    z-index: 1;
}

/* Button 1 */
#button-1 .knobs:before {
    content: "YES";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 20px;
    height: 10px;
    color: #fff;
    font-size: 0.625em;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 9px 4px;
    background-color: #03a9f4;
    border-radius: 50%;
    transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

#button-1 .checkbox:checked + .knobs:before {
    content: "NO";
    left: 42px;
    background-color: #f44336;
}

#button-1 .checkbox:checked ~ .layer {
    background-color: #fcebeb;
}

#button-1 .knobs, #button-1 .knobs:before, #button-1 .layer {
    transition: 0.3s ease all;
}

.section2-background {
    position: absolute;
    width: 1920px;
    height: 944px;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    top: -200px;
    opacity: 0.3;
}

.section2-background-img {
    margin-top: 0px;
    margin-left: 0px;
}


.section8 {
    color: white;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

.textCenter {
    text-align: center;
    font-size: 6.25em;
    font-weight: bold;
}

/* section8 part */
.section8__main {
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10rem;
}

.section8__main-title{
    margin-bottom: 8rem;
    font-size: 4.375em;
    font-weight: bold;
    color: ghostwhite;
    text-shadow: #fc0 1px 0 2px;
}

.section8__main-logo {
    width: 250px;
    height: 250px;
    margin-top: 40px;
    /* 가운데정렬 */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 3rem;
}

.main-logo {
    margin-left: -0.5rem;
    width: 100%;
    height: 100%;
}

.section8-downloadButton-joint:hover {
    border: 2px solid black;
}

.section1__container-02 {
    text-align: center;
    margin-right: 460px;
    padding-top: 50px;
}

.section8-downloadButton1 {
    position: absolute;
    border: 2px solid white;
    top: 610px;
    right: 970px;
    border-radius: 69px;
    width: 255px;
    height: 65px;
}

.section8-downloadButton1-img {
    width: 210px;
    margin-left: 26px;
    margin-top: 9px;
}

.section8-downloadButton2 {
    position: absolute;
    border: 2px solid white;
    top: 610px;
    right: 680px;
    border-radius: 69px;
    width: 255px;
    height: 65px;
}

.section8-downloadButton-ios {
    cursor: pointer;
    width: 77%;
    padding: 10px 20px 10px 25px;
    z-index: 1;
}

.section8-downloadButton1:hover, .section1-downloadButton-ios:hover {
    border: 2px solid black;
    background-image: url("../../images/downloadBadge/app-store-badge-black-0333.png");
    background-size: 196px 49px;
    background-repeat:no-repeat;
    background-position: 43% 60%;
    z-index: 2 !important;
}

.section8-downloadButton-android {
    cursor: pointer;
    width: 80%;
    padding: 10px 20px 10px 25px;
}

.section8-downloadButton2:hover, .section1-downloadButton-android:hover {
    border: 2px solid black;
}

.section1-downloadButton-ios {
    position: absolute;
    cursor: pointer;
    height: 4.5%;
    border: 2px solid white;
    border-radius: 40px;
    padding: 10px 20px 10px 20px;
}

.section1-downloadButton-android {
    position: absolute;
    cursor: pointer;
    height: 4.5%;
    border: 2px solid white;
    border-radius: 40px;
    padding: 10px 20px 10px 20px;
    margin-left: 250px;
}

.section8__modal-popup__overlay, .section1__modal-popup__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.6);
}

.section8__download {
    cursor: pointer;
    height: 4.5rem;
    border: 2px solid white;
    border-radius: 23px;
    padding: 10px 20px 10px 20px;
}

.section8__download:hover {
    cursor: pointer;
    height: 4.5rem;
    border: 2px solid black;
    border-radius: 23px;
    padding: 10px 20px 10px 20px;
}

.hidden {
    display: none;
}

/* section8 footer 전체 div */
.section8-footer {
    padding: 1.4306vw 2.7778vw 2.4306vw 2.7778vw;
    display: flex;
    justify-content: space-between;
    background: rgba(0,0,0,0.3);
    position: absolute;
    top: 84%;
    width: 100%;
    color: ghostwhite;
}

.section8-footer-logo {
    display: flex;
    align-items: center;
    margin-left: 3.125em;
}

/* section8 footer Logo div */
.section8-footer-logo-img {
    margin-top: -1rem;
    margin-left: -3rem;
    width: 6.25rem;
}

/* section8 footer contact 전체 div  */
.section8-footer-contact {
    margin-right: 4.5625rem;
}

/* section8 연락할 곳 contact us p */
.section8-footer-contact-title {
    font-size: 1.5625em;
    margin-bottom: 0.75rem;
    font-weight: bold;
}

/* section8 연락할 곳 핸드폰 p */
.section8-footer-contact-phone {
    font-size: 0.9375em;
    margin-bottom: 0.375rem;
}

/* section8 연락할 곳 이메일 p */
.section8-footer-contact-email {
    font-size: 0.9375em;
}

/* section8 회사소개 전체 div */
.section8-footer-companyInfo {

}

/* section8 회사소개 제목 */
.section8-footer-companyInfo-title {
    font-size: 1.5625em;
    margin-bottom: 0.75rem;
    font-weight: bold;
}

/* section8 회사소개 대표자 p */
.section8-footer-representative {
    font-size: 0.9375em;
    margin-bottom: 0.375rem;
}

/* section8 회사소개 주소 p */
.section8-footer-address {
    font-size: 0.9375em;
}

/* section8 제작 출처 p */
.section8-footer-productionSource {
    font-size: 0.9375em;
    margin: 4.75rem 5rem 0px 28.75rem;
}

#ios1 img {
    position: absolute;
    left: 40.5%;
    top: 67%;
    margin-left: -4.6875em;
    margin-top: -6.25em;
    width: 248px;
    height: 72px;
}

#ios2 img {
    position: absolute;
    left: 39.5%;
    top: 70%;
    margin-left: -4.6875em;
    margin-top: -6.25em;
    width: 248px;
    height: 72px;
}

#android1 img {
    position: absolute;
    left: 54.5%;
    top: 67%;
    margin-left: -4.6875em;
    margin-top: -6.25em;
    width: 248px;
}

#android2 img {
    position: absolute;
    left: 54.5%;
    top: 70%;
    margin-left: -4.6875em;
    margin-top: -6.25em;
    width: 248px;
}

#ios1 > #iosBlack1, #android1 > #androidBlack1, #ios2 > #iosBlack2, #android2 > #androidBlack2 {
    opacity: 0;
    transition: opacity 1s
}

#ios1:hover > #iosBlack1, #android1:hover > #androidBlack1, #ios2:hover > #iosBlack2, #android2:hover > #androidBlack2 {
    opacity: 1;
}

/* test */
.section-services {
    margin: 50px auto 0 auto;;
    width: 978px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-flow: row;
}

.services-information {
    display: flex;
    align-items: flex-start;
    -webkit-box-pack: center;
    justify-content: center;
    flex-flow: column;
}

.information-icon {
    width: 4.6912vw;
}

.information-title {
    margin-top: 1.875rem;
    font-style: normal;
    font-weight: bold;
    font-size: 2.5em;
    line-height: 3.5rem;
    color: rgb(51, 51, 51);
}

.information-content {
    margin-top: 1.125rem;
    font-style: normal;
    font-weight: normal;
    font-size: 1.125em;
    color: rgb(102, 102, 102);
    line-height: 1.8;
}

.services-img-right {
    margin-left: 6.724vw;
    width: 13.3698vw;
}

.services-img-left {
    margin-right: 6.7240vw;
    width: 13.3698vw;
}

.section1-Background {
    background-image: url("/images/main/sectionBackground/main-page-01.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.section2-Background {
    background-image: url("/images/main/sectionBackground/company-info-01.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.section8-Background {
    background-image: url("/images/main/sectionBackground/last-page-02.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.section2-Background::before {
    content: "";
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #ffffff;
}

.auto-hover{
    width: auto;
    font-size: 0.875em;
    opacity: 1;
}

.tooltipImage{
    background-image: url("/images/main/toolTip/tp_tootip.png");
}

/* 반응형 모바일 세로 기준 */
@media only screen and (max-width: 575px) {
    /* 푸터  */
    .section8-footer-logo-img {
        margin-top: -5rem;
        margin-left: -3rem;
        width: 6.25rem;
    }

    .section8-footer-companyInfo {
        display: none;
    }



    .container-01__main-text {
        text-align: center;
        margin-top: -9.25rem;
    }

    p.main-text-01, p.main-text-02 {
        display: inline;
        font-size: 2rem;
        height: 1.25rem;
        line-height: 4rem;
        box-sizing: border-box;
        border-right: 1px solid #fff;
        margin: 0.3125rem;
        font-weight: bold;
        color: ghostwhite;
        text-shadow: #fc0 0.0625rem 0 0.125rem;
    }

    #ios1 img {
        position: absolute;
        left: 28.5%;
        top: 69%;
        margin-left: -4.6875em;
        margin-top: -6.25em;
        width: 40vw;
        height: 7vh;
    }

    #android1 img {
        position: absolute;
        left: 70.5%;
        top: 69%;
        margin-left: -4.6875em;
        margin-top: -6.25em;
        width: 40vw;
        height: 7vh;
    }


}