<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>


<div class="section8-popup-box">
    </div>
    <p class="section8-popup-box-text1">반려동물을 위한 어플 TREEPET<br>지금 사전 신청하세요.</p>
    <p class="section8-popup-box-text2">1차 사전 신청기간 (2022.03.31 ~ 2022.04.30)</p>
    <div class="section8-popup-box-option">
        <ul>
            <p class="section8-popup-box-option-text">원하는 서비스   : </p>
            <li class="section8-popup-box-option-div checkCategories">
                <input class="section8-popup-box-option1 option" type="radio" name="option" id="breed" value="교배">
                <label for="breed">교배</label>
                <i class="bi bi-check-square"></i>
            </li>
            <li class="section8-popup-box-option-div checkCategories">
                <input class="section8-popup-box-option2 option" type="radio" name="option" id="adopt" value="입양"/>
                <label for="adopt">입양</label>
                <i class="bi bi-check-square"></i>
            </li>
            <li class="section8-popup-box-option-div checkCategories">
                <input class="section8-popup-box-option2 option" type="radio" name="option" id="parcel" value="분양"/>
                <label for="parcel">분양</label>
                <i class="bi bi-check-square"></i>
            </li>
        </ul>
    </div>

    <p class="section8-popup-box-text3">서비스 출시를 가장 먼저 알려드릴 메일 주소를 알려주세요.</p>

    <div class="section8-popup-modal-btn">
        <div>
            <div class="section8-popup-modal-btn-text">
                <input class="section8-popup-modal-btn-text-email" id="email" type="email" placeholder="  name@example.com"/>
                <button onclick="sendEmail()" class="section8-popup-modal-btn-click">신청하기</button>
            </div>
        </div>
    </div>
    <p class="emailSuccess" id="emailSuccess">사전예약이 완료되었습니다.</p>
    <p class="emailFail" id="emailFail">이메일 형식이 아닙니다. 이메일 형식인지 확인 해주세요.</p>
</div>
</body>
</html>